<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
      <title>Barber Shop</title>
    <link rel="stylesheet" href="/reset.css">
</head>

<body>
    <header>
        <nav>
            <figure><a href="#"><img src="img/logo.png"></a></figure>
            <h2><a href="#">Home</a></h2>
            <h2><a href="#Produtos">Produtos</a></h2>
            <h2><a href="#Unidades">Unidades</a></h2>
            <h2><a href="#Contato">Contato</a></h2>
            <h2><a href="#Atendimento" class="agendamento">Agendamento Online</a></h2>
        </nav>
    </header>
    
    <main>
        <section>  <!--Primeira sesão com 5 estrelas-->
            <aside class="cincoEstrelas">
                <img class="logoDoMain" src="./img/logo.png" alt="logo da página">
                <h1>A barbearia</h1>
                <p>Estrelas</p>
                <p>5</p>
                
            </aside>
                <img src="./img/homemBarbudo.png" alt="Imagem de um homem negro com barba">
        </section>

        <section>  <!--Segunda sesão com texto sobre a barbearia-->
            <img class="ImagemDeFundo" src="./img/ImagemDeFundoSobre.png" alt="Img de fundo">
            <div>
                <h1>sobre</h1>
                <p>A Barber Shop, tem tudo que você procura. Um ambiente descontrecapeaído, atendimento de primeira, e um preço que você não vai acreditar. 
                    Agende o seu horário pelo Whatsapp: 0 0000 0000, ou venha nos fazer uma visita! (Nome da rua), número (00) em sua cidade. 
                    O estilo perfeito para todos os dias!
                </p>
            </div>
        </section>

        <section class="servicos"> <!--terceira sesão da página-->
            <h1>⠀Serviços</h1>
            <!--primeira linha-->
                <div class="circulo">
                  <img src="img/ferramenta-de-corte-de-cabelo.png" alt="">
                </div>
                <div class="circulo">
                    <img src="img/kit-de-tintura-para-cabelo.png" alt="">
                </div>

                <div class="circulo">
                    <img src="img/controle-de-video-game.png" alt="">
                </div>
                <div class="iconsText">
                    <h3>⠀Cortes</h3>
                    <h3>Processos Quimicos</h3>
                    <h3>Games</h3>
                </div>
                <br>
                <!--segunda linha-->
                <div class="circulo">
                    <img src="img/mao.png" alt="">
                  </div>
               
                  <div class="circulo">
                      <img src="img/cerveja.png" alt="">
                  </div>
  
                  <div class="circulo">
                      <img src="img/joanete.png" alt="">
                  </div>
                  <div class="iconsText">
                    <h3>Shopping</h3>
                    <h3>⠀⠀⠀⠀⠀Bar</h3>
                    <h3>⠀⠀⠀⠀Podologia</h3>
                </div>
        </section>
    </main>

</body>

</html>