<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber Shop</title>
    <link rel="stylesheet" href="/Atividade01/view/css/style.css">
    <link rel="stylesheet" href="/Atividade01/reset.css">

</head>

<body>
    <header>
        <nav>
            <figure><a href="#"><img src="img/logo.png" alt="logo da página"></a></figure>
            <h2><a href="#">Home</a></h2>
            <h2><a href="#Sobre">Sobre</a></h2>
            <h2><a href="#Servicos">Serviços</a></h2>
            <h2><a href="#Produtos">Produtos</a></h2>
            <h2><a href="https://wa.me/5511941798003?text=olá%20Desejo%20Agendar%20um%20horario" class="agendamento">Agendamento Online</a></h2>
        </nav>
    </header>

    <main>
        <section> 
            <img class="fundoPrincipal" src="./img/imagemDeFundoPrincipal.png" alt="logo da página">
            <img class="logoNaImagemPrincipal" src="./img/logo.png" alt="">
            </section>

            <section id="Sobre"> <!--Segunda sesão com texto sobre a barbearia-->
                <img class="fundoSecundario" src="./img/ImagemDeFundoSobre.png" alt="Img de fundo">
                <div class="divisãoDeTextos">
                    <h1 class="sobre">sobre</h1>
                    <p class="textoSobre">A Barber Shop, tem tudo que você procura. Um ambiente descontrecapeaído,
                        atendimento de primeira, e um preço que você não vai acreditar.
                        Agende o seu horário pelo Whatsapp: 55 11 9 41798-003, ou venha nos fazer uma visita! Localizada na Rua Gandavo, número 255 em sua cidade.
                        O estilo perfeito para todos os dias!
                    </p>
                </div>
            </section>

            <section class="servicos" id="Servicos"> <!--terceira sesão da página-->
                <h1>⠀Serviços</h1>
                <!--primeira linha-->
                <div class="circulo">
                    <img src="img/ferramenta-de-corte-de-cabelo.png" alt="">
                </div>
                <div class="circulo">
                    <img src="img/kit-de-tintura-para-cabelo.png" alt="">
                </div>

                <div class="circulo">
                    <img src="img/controle-de-video-game.png" alt="">
                </div>
                <div class="iconsText">
                    <h3>⠀Cortes</h3>
                    <h3>Processos Quimicos</h3>
                    <h3>Games</h3>
                </div>
                <br>
                <!--segunda linha-->
                <div class="circulo">
                    <img src="img/mao.png" alt="">
                </div>

                <div class="circulo">
                    <img src="img/cerveja.png" alt="">
                </div>

                <div class="circulo">
                    <img src="img/joanete.png" alt="">
                </div>
                <div class="iconsText">
                    <h3>⠀Shopping</h3>
                    <h3>⠀⠀⠀Bar</h3>
                    <h3>⠀⠀⠀⠀Podologia</h3>
                </div>
            </section>

            <section class="produtos">

                <h1>Nossos Produtos</h1>
                <p>CONFIRA OS PRODUTOS QUE SELECIONAMOS PARA VOCÊ</p>

               <div class="comboShampoBarba">
                    <ul>
                        <li><img src="./img/Combo_barba_cabelo.svg" alt="imagem de Combo barba e cabelo"></li>
                        <li><p>Combo de shampoo para cabelo e barba</p></li>
                        <li>R$59.99</li>
                    </ul> 
               </div>
                
                
                
            </section>
        
    </main>
    <footer>
        <img src="./img/logo_google_play.png" alt="">
        <img src="./img/logo_app_store.png" alt="">
    </footer>

</body>

</html>