body{
    background-color: #3D3C3B;
    
}

nav{
    padding-right: 3px;
    height: 149px;
    background-color: #3D3C3B;
}
nav:hover{
   background-color: #333231;
}

nav > figure{
    margin-top: 0px;
    margin-right: 400px;
    display: inline-block;
}

nav > figure > img{
    height: 200px;
    vertical-align: middle;
}
nav > h2{
    margin-top: 50px;
    display: inline-block;
  
}
nav > h2 > a{
    color: #DDE3CA;
    margin-right: 56px;
    text-align: center;
    text-decoration: none;
}
nav > h2 > a:hover{
  color: #487aa1 ; 
}

.agendamento{
    border-radius: 10px;
    background-color: #7C8071;
    margin-left: 93px;
        text-align: right;
    border: 10px solid #7C8071;
}

/* ESTiLIZAÇÕES DO MAIN*/


section{
    margin-top: auto;
}
.cincoEstrelas{
    border: 20px solid black;
    border-radius: 97px;
}

.logoDoMain{
    padding: ;
}
