body {
    background-color: #3D3C3B;

}


nav {
    padding-right: 3px;
    height: 149px;
    background-color: #4B4A49;
}

nav:hover {
    background-color: #333231;
}

nav>figure {
    margin-top: 0px;
    margin-right: 400px;
    display: inline-block;
}

nav>figure>a>img {
    height: 127px;
    vertical-align: middle;
}

nav>h2 {
    font-size: xx-large;
    margin-top: 50px;
    display: inline-block;

}

nav>h2>a {
    color: #DDE3CA;
    margin-right: 53px;
    text-align: center;
    text-decoration: none;
}

nav>h2>a:hover {
    color: #487aa1;
}

.agendamento {
    border-radius: 10px;
    background-color: #7C8071;
    margin-left: 65px;
    text-align: right;
    border: 10px solid #7C8071;
}

/* ESTiLIZAÇÕES da Primeira e Segunda sesão*/


section{
    margin-top: auto;
}
.cincoEstrelas{
    display: inline-block;
    background-color: #444342;
    border: 10px solid black;
    border-radius: 97px;
    text-align: center;
    margin: 220px 0 0 537px;
    padding: 54px 173px 28px 164px;
}

.logoDoMain{
    padding: ;
}



/*Serviços*/

.servicos>h1{
    margin: 100px;
    color: #DDE3CA;
    margin-right: 56px;
    text-align: center;
    text-decoration: none;
    font-size: xxx-large;
}


.circulo {
    display: inline-block;
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 416px;
    text-align: center;
}

.circulo>img{
    margin-top: 10px;
    width: 77px;

}

.servicos>h3{
    display: inline-block;
    padding-top: 10px;

}

.iconsText>h3{
    margin-top: 10px;
    margin-left: 402px;
    display: inline-block;
    font-size: x-large;
  
}
